<% if current_user.role == "admin" %>
<h1>Faculties</h1>
   <p style="color: green"><%= notice %></p>

          <table class="table table-striped table-hover">
            <thead class="table-dark">
              <tr>
                <th scope="col">Faculty Name</th>
                <th scope="col">Faculty_id </th>
                <th collapse="3"></th>
                <th collapse="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @faculties.each do |faculty| %>

                <tr>
                  <td><%= faculty.first_name+" "+faculty.last_name %></td>
                  <td><%= faculty.Faculty_id %></td>
                  
                  <td>
                    <%= link_to "show", faculty, class: "btn btn-primary" %>
                  </td>                  
                </tr>

                <% end %>
            
            </tbody>
          </table>

<% else %>

        <% if @faculties.empty? %>
            <div >
              <p>Your details are not available, please add your details</p>
              <%= link_to "Add your detail", new_faculty_path, class: "btn btn-primary" %>
            </div>
        <% else %>
          <% @faculties.each do |faculty| %>
            <%= render faculty %>
          <% end %>
        <% end %>

  <% end %>