<div id="<%= dom_id st_mark %>">
  <p>
    <strong>Name:</strong>
    <%= st_mark.name %>
  </p>

  <p>
    <strong>Roll no:</strong>
    <%= st_mark.roll_no %>
  </p>

  <p>
    <strong>Course title:</strong>
    <%= st_mark.course_title %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= st_mark.course_id %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= st_mark.credit %>
  </p>

  <p>
    <strong>Mark:</strong>
    <%= st_mark.mark %>
  </p>

  <p>
    <strong>S:</strong>
    <%= st_mark.s_id %>
  </p>

</div>
